html,
body {
  margin: 0;
}

html {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  height: 100%;
}

body {
  overflow: hidden;
  height: inherit;
  background-color: black ;
}

h1 {
  font-size: 70px;
  letter-spacing: -1px;
  position: absolute;
  margin: 0;
  top: 4px;
  right: 5px;
  color: transparent;
  text-shadow: 0 0 2px white;

}

canvas {
/* height: 80vh;
// width: 80vw;
 //display: block;*/
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

p {
background-color: blue;
position: absolute;
top: 30px;
left: 0px;
}


header {
 display: flex;
 justify-content: center;
 flex-direction: row; 
	
}

button, .button {
 background-color: black;
 color: white;
 padding: 10px 5px 10px 5px;
 
 border: none;
 
  text-align: center;
  text-decoration: none;
  font-size: 16px;
 
 
 transition-duration: 0.4s;
}

button:hover, .button:hover{
 background-color:  white;
 color: black;
}
